.spinner[type="number"]::-webkit-inner-spin-button, 
.spinner[type="number"]::-webkit-outer-spin-button {  
   -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    opacity: 1;
}

