$primary-color: #EC1944;
$primary-btn-txt-color: #ece9e9;

.primarybutton{
  background-color: $primary-color;
  padding: 10px;
  border: none;
  width: 100%;
  font-size: 1em;
  color: $primary-btn-txt-color;

  .buttontext {
    color: white;
    font-size: 18px;
  }
}


body {
    --background-color: #000000;
    --text-color: #000000;
    --icons-color: #000000;
    --icons-background: #ffffff;
    --icons-hover-background: rgb(142, 142, 142);
    --icons-text: #000000;
    --btn-border: rgba(0, 0, 0, 0.1);
    --arena-background: #ffffff;
    --background-page: #ffffff;
    --button-background: #ffffff;
    --container-background: #ffffff;
    --big-button-background: #ffffff;
    --runBtnBorder:#000000;
    --runBtn:#000000;
    --runBtnBackground:#ffffff;
    --font-color: #000000;
    --big-button-font: #000000;
    --menu-font-color: #000000;
    --check-button: #000000;
    --disabled-icon-color: #d8dada;
    --deleteBtnBackground:#ffffff;
    --deleteBtncolor:#ffffff;
    --toolbarIcon:#ffffff;
    --tableHeaderText:#000000;
    --hoverTextColor: #ffffff;
    --hoverBackgroundColor: #000000;
  
    
  }
  
  body.theme-light {
    --background-color: #eb5757;
    --text-color: #eb5757;
    --icons-color: #eb5757;
    --icons-background: #ffffff;
    --icons-hover-background: #ffffff;
    --icons-text: #eb5757;
    --btn-border: #eb5757;
    --arena-background: #ffffff;
    --background-page: #ffffff;
    --button-background: #ffffff;
    --container-background: #ffffff;
    --big-button-background: #eb5757;
    --runBtnBorder:#eb5757;
    --runBtnBackground:#ffffff;
    --runBtn:#eb5757;
    --big-button-font: #ffffff;
    --font-color: #000000;
    --menu-font-color: #eb5757;
    --check-button: #eb5757;
    --disabled-icon-color: #d8dada;
    --toolbarIcon:#ffffff;
    --tableHeaderText:#eb5757;
    --hoverTextColor: #ffffff;
    --hoverBackgroundColor: #eb5757;
    
  }
  
  body.theme-dark {
    --background-color: #333333;
    --text-color: #ffffff;
    --icons-color: white;
    --icons-background: #333333;
    --icons-hover-background: rgb(142, 142, 142);
    --icons-text: white;
    --btn-border: #eb5757;
    --sim-btn-border: #000000;
    --arena-background: #ffffff;
    --background-page: #747676;
    --button-background: #000000;
    --big-button-background: #eb5757;
    --runBtnBorder:#eb5757;
    --runBtn:#ffffff;
    --runBtnBackground:#eb5757;
    --container-background: #333333;
    --big-button-font: #ffffff;
    --font-color: #ffffff;
    --menu-font-color: #000000;
    --check-button: #eb5757;
    --disabled-icon-color: rgb(118 120 120);
    --toolbarIcon:#eb5757;
    --tableHeaderText:#000000;
    --hoverTextColor: #ffffff;
    --hoverBackgroundColor: #eb5757;
    
  }